.icon {
  color: var(--colorTextBodyTitle);
  cursor: pointer;

  &[data-type='link'] {
    color: var(--rgbAccent);
  }

  &[data-type='button'] {
    color: var(--rgbBackground);
  }

  &[data-type='white'] {
    color: var(--rgbBlack);
  }

  &[data-type='body'] {
    color: var(--rgbPrimary);
  }

  &[data-type='text'] {
    color: var(--colorTextBody);
  }
}
